{
    "openapi": "3.0.0",
    "info": {
        "title": "SaveArt API",
        "description": "API для платформи save-art.in.ua — краудфандингова платформа для митців та меценатів",
        "contact": {
            "name": "Save-Art Support",
            "email": "support@save-art.in.ua"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://idart.dev2025.ingsot.com/api",
            "description": "Production Server (temporary)"
        },
        {
            "url": "https://save-art.in.ua/api",
            "description": "Production Server (main)"
        },
        {
            "url": "http://save-art.local/api",
            "description": "Local Development"
        }
    ],
    "paths": {
        "/about": {
            "get": {
                "tags": [
                    "About"
                ],
                "summary": "Дані сторінки 'Про нас'",
                "description": "Повертає всі дані для сторінки 'Про нас'. Якщо вказано параметр language - повертає контент лише для вказаної мови, інакше повертає всі мовні версії.",
                "operationId": "getAbout",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Код мови (uk або en). Якщо не вказано - повертає всі мовні версії.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успішне отримання даних",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "About data retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "object",
                                                    "example": {
                                                        "uk": "Задачі проєкту",
                                                        "en": "Project Tasks"
                                                    }
                                                },
                                                "feats": {
                                                    "type": "object",
                                                    "example": {
                                                        "uk": [
                                                            {
                                                                "name": "Екосистема",
                                                                "title": "Арт-платформа для митців з України",
                                                                "description": "Можливе масштабування на інші країни, які цього потребують."
                                                            }
                                                        ],
                                                        "en": [
                                                            {
                                                                "name": "Ecosystem",
                                                                "title": "An art platform for artists from Ukraine",
                                                                "description": "Scalable to other countries that need it."
                                                            }
                                                        ],
                                                        "feat_image": "https://example.com/storage/about/feat.webp"
                                                    }
                                                },
                                                "description": {
                                                    "type": "object",
                                                    "example": {
                                                        "uk": "творити Майбутнє вже сьогодні.",
                                                        "en": "to create the Future today.",
                                                        "icon": "https://example.com/storage/about/flag_ua.webp",
                                                        "image": "https://example.com/storage/about/invasion.webp",
                                                        "text": {
                                                            "uk": "<p>Текст опису українською</p>",
                                                            "en": "<p>Description text in English</p>"
                                                        },
                                                        "title_date": {
                                                            "uk": "24.02",
                                                            "en": "24.02"
                                                        },
                                                        "description_date": {
                                                            "uk": "З початком повномасштабного вторгнення...",
                                                            "en": "Since the beginning of the full-scale invasion..."
                                                        }
                                                    }
                                                },
                                                "goals": {
                                                    "type": "object",
                                                    "example": {
                                                        "task": {
                                                            "uk": "Створення арт-платформи підтримки українських митців",
                                                            "en": "Creation of an art platform to support Ukrainian artists"
                                                        },
                                                        "image": "https://example.com/storage/about/purpose.webp",
                                                        "title": {
                                                            "uk": "Основна мета проєкту",
                                                            "en": "The Main Goal of the Project"
                                                        },
                                                        "description": {
                                                            "uk": "<p>для подолання глобальної культурної кризи...</p>",
                                                            "en": "<p>to overcome the global cultural crisis...</p>"
                                                        }
                                                    }
                                                },
                                                "tasks": {
                                                    "type": "object",
                                                    "example": {
                                                        "uk": [
                                                            {
                                                                "task": "Платформа для публікації проєкту"
                                                            },
                                                            {
                                                                "task": "Прямий доступ до аудиторії"
                                                            }
                                                        ],
                                                        "en": [
                                                            {
                                                                "task": "A platform for publishing a project"
                                                            },
                                                            {
                                                                "task": "Direct access to an audience willing to support"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "implementation": {
                                                    "type": "object",
                                                    "example": {
                                                        "image": "https://example.com/storage/about/project_implementation.webp",
                                                        "title": {
                                                            "uk": "Реалізація проєкту",
                                                            "en": "Project Implementation"
                                                        },
                                                        "items": {
                                                            "uk": [
                                                                {
                                                                    "item": {
                                                                        "title": "Створення всеукраїнської платформи особистостей",
                                                                        "description": "з різних культурних сфер діяльності..."
                                                                    }
                                                                }
                                                            ],
                                                            "en": [
                                                                {
                                                                    "item": {
                                                                        "title": "Creation of a nationwide platform of individuals",
                                                                        "description": "from various cultural fields..."
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    }
                                                },
                                                "results": {
                                                    "type": "object",
                                                    "example": {
                                                        "title": {
                                                            "uk": "Результат",
                                                            "en": "Result"
                                                        },
                                                        "description": {
                                                            "uk": "<h6>Митці отримують грантову підтримку...</h6>",
                                                            "en": "<h6>Artists receive grant support...</h6>"
                                                        }
                                                    }
                                                },
                                                "id_art": {
                                                    "type": "object",
                                                    "example": {
                                                        "image": "https://example.com/storage/about/idArtUa.webp",
                                                        "title": {
                                                            "uk": "Благодійний фонд ID Art UA",
                                                            "en": "Charitable Foundation ID Art UA"
                                                        },
                                                        "description": {
                                                            "uk": "<p>Транслювати події, обставини...</p>",
                                                            "en": "<p>To convey events, circumstances...</p>"
                                                        }
                                                    }
                                                },
                                                "events": {
                                                    "type": "object",
                                                    "example": {
                                                        "h2": {
                                                            "uk": "<h2>Персональні виставки українських художників в провідних музеях світу</h2>",
                                                            "en": "<h2>Solo exhibitions of Ukrainian artists in leading museums worldwide</h2>"
                                                        },
                                                        "title": {
                                                            "uk": "Пілотний проект",
                                                            "en": "Pilot Project"
                                                        }
                                                    }
                                                },
                                                "project": {
                                                    "type": "object",
                                                    "example": {
                                                        "image": "https://example.com/storage/about/project/main_project_img.webp",
                                                        "image_bg": "https://example.com/storage/about/project/main_project_bg.webp",
                                                        "description": {
                                                            "uk": "<p>Культурна спадщина України...</p>",
                                                            "en": "<p>Ukraine's cultural heritage...</p>"
                                                        }
                                                    }
                                                },
                                                "artists": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "example": {
                                                            "id": 1,
                                                            "name": "Художник"
                                                        }
                                                    },
                                                    "nullable": true
                                                },
                                                "is_active_artist": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "partners": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "example": {
                                                            "id": 1,
                                                            "name": "Партнер",
                                                            "logo": "https://example.com/storage/partners/logo.webp"
                                                        }
                                                    },
                                                    "nullable": true
                                                },
                                                "artist_board": {
                                                    "type": "object",
                                                    "example": {
                                                        "id": 1,
                                                        "titles": {
                                                            "uk": "Заголовок",
                                                            "en": "Title"
                                                        },
                                                        "descriptions": {
                                                            "uk": "Опис",
                                                            "en": "Description"
                                                        },
                                                        "data": []
                                                    },
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "language": {
                                            "description": "Вказана мова (якщо був переданий параметр)",
                                            "type": "string",
                                            "example": "uk",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Дані не знайдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "About data not found"
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/artist-board": {
            "get": {
                "tags": [
                    "Artist Board"
                ],
                "summary": "Дошка художників (10 художників в 10 національних музеях світу)",
                "description": "Повертає дані про спецпроект '10 художників в 10 національних музеях світу'. Включає інформацію про художників, їх виставки, музеї та роботи. Якщо вказано параметр language - повертає контент лише для вказаної мови, інакше повертає всі мовні версії.",
                "operationId": "getArtistBoard",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Код мови (uk або en). Якщо не вказано - повертає всі мовні версії.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успішне отримання даних",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "ArtistBoard data retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "titles": {
                                                    "properties": {
                                                        "title1": {
                                                            "type": "object",
                                                            "example": {
                                                                "uk": "Спецпроєкт",
                                                                "en": "Special Project"
                                                            }
                                                        },
                                                        "title2": {
                                                            "type": "object",
                                                            "example": {
                                                                "uk": "10 художників в 10 національних музеях світу",
                                                                "en": "10 artists in 10 national museums of the world"
                                                            }
                                                        },
                                                        "description": {
                                                            "type": "object",
                                                            "example": {
                                                                "uk": "Короткий опис спецпроєкту українською",
                                                                "en": "Short description of the special project in English"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "logo_museums": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "logo_museum": {
                                                                "type": "string",
                                                                "example": "https://example.com/storage/artist-boards/logos/museum1.jpg"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "descriptions": {
                                                    "type": "object",
                                                    "example": {
                                                        "uk": "<p>Опис спецпроєкту...</p>",
                                                        "en": "<p>Special project description...</p>"
                                                    }
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "example": {
                                                            "image": "https://example.com/storage/artist-boards/artists/artist1.jpg",
                                                            "name": {
                                                                "uk": "Іван Петренко",
                                                                "en": "Ivan Petrenko"
                                                            },
                                                            "exhibition_link": "https://museum.com/exhibition",
                                                            "facebook_link": "https://facebook.com/artist",
                                                            "museums": [
                                                                {
                                                                    "name": {
                                                                        "uk": "Національний музей мистецтв",
                                                                        "en": "National Museum of Arts"
                                                                    },
                                                                    "exhibition_name": {
                                                                        "uk": "Виставка сучасного мистецтва",
                                                                        "en": "Contemporary Art Exhibition"
                                                                    },
                                                                    "dates": "01.01.2024 - 01.03.2024"
                                                                }
                                                            ],
                                                            "works": [
                                                                {
                                                                    "title": {
                                                                        "uk": "Назва роботи",
                                                                        "en": "Work Title"
                                                                    },
                                                                    "description": {
                                                                        "uk": "<p>Опис роботи...</p>",
                                                                        "en": "<p>Work description...</p>"
                                                                    },
                                                                    "image": "https://example.com/storage/artist-boards/works/work1.jpg"
                                                                }
                                                            ]
                                                        }
                                                    }
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "language": {
                                            "description": "Вказана мова (якщо був переданий параметр)",
                                            "type": "string",
                                            "example": "uk",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Дані не знайдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "ArtistBoard data not found"
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/content": {
            "get": {
                "tags": [
                    "Content"
                ],
                "summary": "Список сторінок контенту",
                "description": "Повертає список всіх активних сторінок контенту, включаючи Спецпроекти та інші статичні сторінки",
                "operationId": "getContentList",
                "responses": {
                    "200": {
                        "description": "Успішне отримання списку",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Content list retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "page_title": {
                                                        "properties": {
                                                            "uk": {
                                                                "type": "string"
                                                            },
                                                            "en": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "title": {
                                                        "properties": {
                                                            "uk": {
                                                                "type": "string"
                                                            },
                                                            "en": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "special-projects"
                                                    },
                                                    "content": {
                                                        "type": "object"
                                                    },
                                                    "meta_title": {
                                                        "type": "object"
                                                    },
                                                    "meta_description": {
                                                        "type": "object"
                                                    },
                                                    "meta_keywords": {
                                                        "type": "object"
                                                    },
                                                    "is_active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/content/{slug}": {
            "get": {
                "tags": [
                    "Content"
                ],
                "summary": "Сторінка контенту за slug",
                "description": "Повертає дані сторінки контенту за вказаним slug (наприклад, special-projects для Спецпроектів)",
                "operationId": "getContentBySlug",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Унікальний slug сторінки (наприклад: special-projects)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успішне отримання даних",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Content retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "page_title": {
                                                    "type": "object"
                                                },
                                                "title": {
                                                    "type": "object"
                                                },
                                                "slug": {
                                                    "type": "string"
                                                },
                                                "content": {
                                                    "type": "object"
                                                },
                                                "meta_title": {
                                                    "type": "object"
                                                },
                                                "meta_description": {
                                                    "type": "object"
                                                },
                                                "meta_keywords": {
                                                    "type": "object"
                                                },
                                                "is_active": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Контент не знайдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Content not found"
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/content/{slug}/{language}": {
            "get": {
                "tags": [
                    "Content"
                ],
                "summary": "Сторінка контенту за slug та мовою",
                "description": "Повертає дані сторінки контенту за вказаним slug з фільтрацією мультимовного контенту за вказаною мовою",
                "operationId": "getContentBySlugAndLanguage",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Унікальний slug сторінки",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "language",
                        "in": "path",
                        "description": "Код мови (uk або en)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "uk",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успішне отримання даних",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Content retrieved successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        },
                                        "language": {
                                            "type": "string",
                                            "example": "uk"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Контент не знайдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Content not found"
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/content/language/{language}": {
            "get": {
                "tags": [
                    "Content"
                ],
                "summary": "Контент за мовою",
                "description": "Повертає перший активний контент з фільтрацією мультимовного контенту за вказаною мовою",
                "operationId": "getContentByLanguage",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "Код мови (uk або en)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "uk",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успішне отримання даних",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Content retrieved successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        },
                                        "language": {
                                            "type": "string",
                                            "example": "uk"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Контент не знайдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Content not found"
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/home": {
            "get": {
                "tags": [
                    "HomePage"
                ],
                "summary": "Дані головної сторінки",
                "description": "Повертає всі дані для рендерингу головної сторінки, включаючи hero-секцію, статистику, партнерів та рекомендовані проекти",
                "operationId": "getHomePage",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова контенту (uk, en)",
                        "schema": {
                            "type": "string",
                            "default": "uk",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Дані головної сторінки",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "hero": {
                                                    "properties": {
                                                        "title": {
                                                            "type": "object"
                                                        },
                                                        "video_poster": {
                                                            "type": "string"
                                                        },
                                                        "video_poster_mobile": {
                                                            "type": "string"
                                                        },
                                                        "image_poster": {
                                                            "type": "string"
                                                        },
                                                        "image_poster_mobile": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "donates_section": {
                                                    "properties": {
                                                        "subtitle": {
                                                            "type": "object"
                                                        },
                                                        "title": {
                                                            "type": "object"
                                                        },
                                                        "text": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "statistics": {
                                                    "properties": {
                                                        "is_active": {
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "total_collected": {
                                                            "type": "integer"
                                                        },
                                                        "declared_projects": {
                                                            "type": "integer"
                                                        },
                                                        "active_projects": {
                                                            "type": "integer"
                                                        },
                                                        "completed_projects": {
                                                            "type": "integer"
                                                        },
                                                        "sold_projects": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "partners": {
                                                    "properties": {
                                                        "title": {
                                                            "type": "object"
                                                        },
                                                        "items": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ad_blocks": {
                                                    "properties": {
                                                        "first": {
                                                            "type": "object"
                                                        },
                                                        "second": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "featured_projects": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Головна сторінка не налаштована"
                    }
                }
            }
        },
        "/home/statistics": {
            "get": {
                "tags": [
                    "HomePage"
                ],
                "summary": "Статистика платформи",
                "description": "Повертає актуальну статистику платформи (загальна сума зборів, кількість проектів)",
                "operationId": "getHomeStatistics",
                "responses": {
                    "200": {
                        "description": "Статистика",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "is_active": {
                                                    "description": "Чи активна секція статистики",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "total_collected": {
                                                    "type": "number",
                                                    "example": 2325250
                                                },
                                                "declared_projects": {
                                                    "type": "integer",
                                                    "example": 624
                                                },
                                                "active_projects": {
                                                    "type": "integer",
                                                    "example": 387
                                                },
                                                "completed_projects": {
                                                    "type": "integer",
                                                    "example": 1126
                                                },
                                                "sold_projects": {
                                                    "type": "integer",
                                                    "example": 107
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/home/chart": {
            "get": {
                "tags": [
                    "HomePage"
                ],
                "summary": "Дані для графіка зборів",
                "description": "Повертає дані для графіка зборів за обраний період (день, тиждень, місяць, рік, все)",
                "operationId": "getHomeChart",
                "parameters": [
                    {
                        "name": "period",
                        "in": "query",
                        "description": "Період для графіка: day (день), week (тиждень), month (місяць), year (рік), all (все)",
                        "schema": {
                            "type": "string",
                            "default": "month",
                            "enum": [
                                "day",
                                "week",
                                "month",
                                "year",
                                "all"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Дані для графіка",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "period": {
                                                    "type": "string",
                                                    "example": "month"
                                                },
                                                "total": {
                                                    "type": "number",
                                                    "example": 2325250
                                                },
                                                "labels": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "values": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "number"
                                                    }
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/site/settings": {
            "get": {
                "tags": [
                    "SiteSettings"
                ],
                "summary": "Всі налаштування сайту",
                "description": "Повертає повні дані для header та footer",
                "operationId": "getSiteSettings",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова контенту (uk, en)",
                        "schema": {
                            "type": "string",
                            "default": "uk",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Налаштування сайту",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "header": {
                                                    "$ref": "#/components/schemas/SiteHeader"
                                                },
                                                "footer": {
                                                    "$ref": "#/components/schemas/SiteFooter"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Налаштування не знайдені"
                    }
                }
            }
        },
        "/site/header": {
            "get": {
                "tags": [
                    "SiteSettings"
                ],
                "summary": "Дані хедера сайту",
                "description": "Повертає дані для рендерингу хедера: логотип, меню, соцмережі, кнопки",
                "operationId": "getSiteHeader",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова контенту (uk, en)",
                        "schema": {
                            "type": "string",
                            "default": "uk",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Дані хедера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SiteHeader"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Налаштування не знайдені"
                    }
                }
            }
        },
        "/site/footer": {
            "get": {
                "tags": [
                    "SiteSettings"
                ],
                "summary": "Дані футера сайту",
                "description": "Повертає дані для рендерингу футера: бренд, слоган, співпраця, меню сайтів, контакти",
                "operationId": "getSiteFooter",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова контенту (uk, en)",
                        "schema": {
                            "type": "string",
                            "default": "uk",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Дані футера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SiteFooter"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Налаштування не знайдені"
                    }
                }
            }
        },
        "/v1/artists": {
            "get": {
                "tags": [
                    "Artists"
                ],
                "summary": "Список митців",
                "description": "Повертає список митців (користувачів, які мають опубліковані проєкти)",
                "operationId": "getArtists",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Пошук по імені митця",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Іван"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Кількість на сторінку (макс. 50)",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 50
                        },
                        "example": 20
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Номер сторінки",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список митців",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Artist"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/PaginationLinks"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/artists/{slug}": {
            "get": {
                "tags": [
                    "Artists"
                ],
                "summary": "Профіль митця",
                "description": "Повертає публічний профіль митця з його даними та соціальними мережами",
                "operationId": "getArtist",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Унікальний slug митця",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ivan-franko-abc123"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Профіль митця",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Artist"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Митця не знайдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/artists/{slug}/projects": {
            "get": {
                "tags": [
                    "Artists"
                ],
                "summary": "Проєкти митця",
                "description": "Повертає список публічних проєктів конкретного митця",
                "operationId": "getArtistProjects",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug митця",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ivan-franko-abc123"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Фільтр по статусу проєкту",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "announced",
                                "in_progress",
                                "completed",
                                "sold"
                            ]
                        },
                        "example": "announced"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Кількість на сторінку (макс. 50)",
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 50
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список проєктів митця",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ProjectList"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/PaginationLinks"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Митця не знайдено"
                    }
                }
            }
        },
        "/v1/auth/change-password": {
            "put": {
                "tags": [
                    "Auth"
                ],
                "summary": "Зміна пароля",
                "description": "Зміна пароля авторизованого користувача. Потрібно вказати поточний пароль та новий пароль з підтвердженням.",
                "operationId": "changePassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "current_password",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "current_password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "oldPassword123"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newPassword456"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newPassword456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Пароль успішно змінено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Пароль успішно змінено"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Помилка валідації або невірний поточний пароль",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Поточний пароль невірний."
                                        },
                                        "errors": {
                                            "properties": {
                                                "current_password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Поточний пароль невірний."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизовано"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/auth/forgot-password": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Запит на скидання пароля",
                "description": "Надсилає email з посиланням для скидання пароля",
                "operationId": "forgotPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Посилання надіслано",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/v1/auth/reset-password": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Скидання пароля",
                "description": "Скидає пароль за допомогою токена з email",
                "operationId": "resetPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "token": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "minLength": 8
                                    },
                                    "password_confirmation": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Пароль змінено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error або невалідний токен"
                    }
                }
            }
        },
        "/v1/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Авторизація користувача",
                "description": "Авторизація користувача за email та паролем. Повертає Bearer токен для подальших запитів.",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "device_name": {
                                        "type": "string",
                                        "example": "iPhone 15 Pro"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Успішна авторизація",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Авторизація успішна"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Іван Петренко"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user@example.com"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "ivan-petrenko"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "user"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|abc123..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Невірні дані авторизації",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Невірний email або пароль"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Вихід з системи",
                "description": "Видаляє поточний токен авторизації",
                "operationId": "logout",
                "responses": {
                    "200": {
                        "description": "Успішний вихід",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Вихід виконано успішно"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизовано"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/auth/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Поточний користувач",
                "description": "Повертає дані авторизованого користувача",
                "operationId": "me",
                "responses": {
                    "200": {
                        "description": "Дані користувача",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Іван Петренко"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user@example.com"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "ivan-petrenko"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "user"
                                                },
                                                "avatar_url": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизовано"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Реєстрація нового користувача",
                "description": "Створює новий обліковий запис користувача та повертає токен авторизації",
                "operationId": "register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Повне ім'я користувача",
                                        "type": "string",
                                        "maxLength": 255,
                                        "minLength": 2,
                                        "example": "Іван Петренко"
                                    },
                                    "email": {
                                        "description": "Email (унікальний)",
                                        "type": "string",
                                        "format": "email",
                                        "example": "ivan@example.com"
                                    },
                                    "password": {
                                        "description": "Пароль (мін. 8 символів)",
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8,
                                        "example": "SecurePass123"
                                    },
                                    "password_confirmation": {
                                        "description": "Підтвердження пароля",
                                        "type": "string",
                                        "format": "password",
                                        "example": "SecurePass123"
                                    },
                                    "device_name": {
                                        "description": "Назва пристрою для токена",
                                        "type": "string",
                                        "example": "iPhone 15 Pro"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Успішна реєстрація",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Реєстрація успішна"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Іван Петренко"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "ivan@example.com"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "ivan-petrenko-abc123"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|abc123xyz..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Помилка валідації",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/google/redirect": {
[...]
