{
    "openapi": "3.0.0",
    "info": {
        "title": "Art-UA Info API",
        "description": "API для інформаційного порталу art-ua.info — новини, події, статті про мистецтво",
        "contact": {
            "name": "Art-UA Info Support",
            "email": "info@art-ua.info"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://art-ua.info/api/v1",
            "description": "Production Server"
        },
        {
            "url": "https://save-art.ddev.site/api/v1",
            "description": "Local Development"
        }
    ],
    "paths": {
        "/v1/catalogs": {
            "get": {
                "tags": [
                    "Catalogs"
                ],
                "summary": "Список PDF-каталогів",
                "description": "Повертає список каталогів робіт авторів з можливістю фільтрації за категорією мистецтва",
                "operationId": "getArtCatalogs",
                "parameters": [
                    {
                        "name": "art_category",
                        "in": "query",
                        "description": "Slug кореневої категорії мистецтва",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "art_subcategory",
                        "in": "query",
                        "description": "Slug підкатегорії мистецтва",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Кількість на сторінку (макс. 50)",
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова відповіді (uk, en)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список каталогів",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ArtCatalog"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/PaginationLinks"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/catalogs/{id}": {
            "get": {
                "tags": [
                    "Catalogs"
                ],
                "summary": "Каталог за ID",
                "description": "Повертає один PDF-каталог робіт автора",
                "operationId": "getArtCatalog",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID каталогу",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова відповіді (uk, en)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Каталог",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ArtCatalog"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Каталог не знайдено"
                    }
                }
            }
        },
        "/v1/art-ua-info/artists": {
            "get": {
                "tags": [
                    "Artists"
                ],
                "summary": "Список митців",
                "description": "Повертає список митців (користувачів, які мають опубліковані art-ua-info проєкти)",
                "operationId": "artUaInfoGetArtists",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Пошук по імені митця",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Іван"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Кількість на сторінку (макс. 50)",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 50
                        },
                        "example": 20
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Номер сторінки",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова відповіді (uk, en)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список митців",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Artist"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/PaginationLinks"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/art-ua-info/artists/{slug}": {
            "get": {
                "tags": [
                    "Artists"
                ],
                "summary": "Профіль митця",
                "description": "Повертає публічний профіль митця з його даними та соціальними мережами",
                "operationId": "artUaInfoGetArtist",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Унікальний slug митця",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ivan-franko-abc123"
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова відповіді (uk, en)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Профіль митця",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Artist"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Митця не знайдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/art-ua-info/artists/{slug}/projects": {
            "get": {
                "tags": [
                    "Artists"
                ],
                "summary": "Проєкти митця",
                "description": "Повертає список публічних art-ua-info проєктів конкретного митця",
                "operationId": "artUaInfoGetArtistProjects",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug митця",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ivan-franko-abc123"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Фільтр по статусу проєкту",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "announced",
                                "in_progress",
                                "completed",
                                "sold"
                            ]
                        },
                        "example": "announced"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Кількість на сторінку (макс. 50)",
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова відповіді (uk, en)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список проєктів митця",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ProjectList"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/PaginationLinks"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Митця не знайдено"
                    }
                }
            }
        },
        "/v1/art-ua-info/artists/{slug}/photos": {
            "get": {
                "tags": [
                    "Artists"
                ],
                "summary": "Портфоліо митця",
                "description": "Повертає список фото з портфоліо митця",
                "operationId": "artUaInfoGetArtistPhotos",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug митця",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список фото",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserPhoto"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Митця не знайдено"
                    }
                }
            }
        },
        "/v1/art-ua-info/categories": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Список категорій мистецтва",
                "description": "Повертає список всіх категорій мистецтва з перекладами та підкатегоріями",
                "operationId": "artUaInfoGetCategories",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова відповіді (uk, en)",
                        "schema": {
                            "type": "string",
                            "default": "uk",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список категорій"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/regions": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Список регіонів",
                "description": "Повертає список всіх регіонів з перекладами",
                "operationId": "artUaInfoGetRegions",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова відповіді (uk, en)",
                        "schema": {
                            "type": "string",
                            "default": "uk",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список регіонів"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/parameters": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Список характеристик категорії мистецтва",
                "description": "Повертає список характеристик (Parameter) та їх значень (ParameterValue) для побудови фільтрів або форми проєкту.",
                "operationId": "artUaInfoGetParameters",
                "parameters": [
                    {
                        "name": "art_category",
                        "in": "query",
                        "description": "Slug кореневої категорії мистецтва",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "literature"
                    },
                    {
                        "name": "art_subcategory",
                        "in": "query",
                        "description": "Slug підкатегорії",
                        "schema": {
                            "type": "string"
                        },
                        "example": "prose"
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова відповіді (uk, en)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список характеристик"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/faq": {
            "get": {
                "tags": [
                    "FAQ"
                ],
                "summary": "Список FAQ",
                "description": "Повертає всі FAQ категорії з питаннями та відповідями.",
                "operationId": "artUaInfoGetFaq",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Код мови (uk або en)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список FAQ"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/faq/category/{slug}": {
            "get": {
                "tags": [
                    "FAQ"
                ],
                "summary": "FAQ категорії",
                "description": "Повертає питання конкретної FAQ категорії.",
                "operationId": "artUaInfoGetFaqCategory",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug категорії",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Код мови (uk або en)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "FAQ категорії"
                    },
                    "404": {
                        "description": "Категорію не знайдено"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/home": {
            "get": {
                "tags": [
                    "HomePage (Art-UA Info)"
                ],
                "summary": "Дані головної сторінки",
                "description": "Отримати дані головної сторінки",
                "operationId": "artUaInfoGetHomePage",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова контенту (uk, en)",
                        "schema": {
                            "type": "string",
                            "default": "uk",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Дані головної сторінки"
                    },
                    "404": {
                        "description": "Головна сторінка не налаштована"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/projects/{project}/like": {
            "post": {
                "tags": [
                    "Likes"
                ],
                "summary": "Поставити лайк",
                "description": "Додає лайк до проекту від поточного користувача",
                "operationId": "artUaInfoLikeProject",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "description": "Slug проекту",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Лайк додано"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Вже лайкнуто"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Likes"
                ],
                "summary": "Прибрати лайк",
                "description": "Видаляє лайк з проекту",
                "operationId": "artUaInfoUnlikeProject",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "description": "Slug проекту",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Лайк прибрано"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Не було лайка"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/my/projects": {
            "get": {
                "tags": [
                    "My Projects (Art-UA Info)"
                ],
                "summary": "Список моїх art-ua-info-проєктів",
                "description": "Повертає список art-ua-info-проєктів авторизованого користувача (всі статуси).",
                "operationId": "artUaInfoGetMyProjects",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Фільтр по статусу (кілька значень через кому)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список проєктів"
                    },
                    "401": {
                        "description": "Не авторизовано"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/my/projects/completed": {
            "get": {
                "tags": [
                    "My Projects (Art-UA Info)"
                ],
                "summary": "Список моїх завершених art-ua-info-проєктів",
                "description": "Повертає завершені проєкти (completed, sold) авторизованого користувача.",
                "operationId": "artUaInfoGetMyCompletedProjects",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список завершених проєктів"
                    },
                    "401": {
                        "description": "Не авторизовано"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/my/projects/{project}": {
            "get": {
                "tags": [
                    "My Projects (Art-UA Info)"
                ],
                "summary": "Деталі проєкту",
                "description": "Деталі власного art-ua-info-проєкту",
                "operationId": "artUaInfoGetMyProject",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Деталі проєкту"
                    },
                    "401": {
                        "description": "Не авторизовано"
                    },
                    "403": {
                        "description": "Не власник проєкту"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "My Projects (Art-UA Info)"
                ],
                "summary": "Видалити проєкт",
                "description": "Доступно тільки для чернеток, відхилених проєктів або проєктів у черзі на модерацію.",
                "operationId": "artUaInfoDeleteMyProject",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Проєкт видалено"
                    },
                    "401": {
                        "description": "Не авторизовано"
                    },
                    "403": {
                        "description": "Не власник проєкту"
                    },
                    "422": {
                        "description": "Проєкт не можна видалити у цьому статусі"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/profile": {
            "get": {
                "tags": [
                    "Profile (Art-UA Info)"
                ],
                "summary": "Отримати повний профіль",
                "description": "Отримати профіль поточного користувача",
                "operationId": "artUaInfoGetProfile",
                "responses": {
                    "200": {
                        "description": "Дані профілю"
                    },
                    "401": {
                        "description": "Неавторизований доступ"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/profile/personal": {
            "put": {
                "tags": [
                    "Profile (Art-UA Info)"
                ],
                "summary": "Оновити персональні дані",
                "description": "Оновити особистий профіль користувача",
                "operationId": "artUaInfoUpdateProfilePersonal",
                "responses": {
                    "200": {
                        "description": "Профіль оновлено"
                    },
                    "401": {
                        "description": "Неавторизовано"
                    },
                    "422": {
                        "description": "Помилка валідації"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/profile/social": {
            "put": {
                "tags": [
                    "Profile (Art-UA Info)"
                ],
                "summary": "Оновити соцмережі",
                "description": "Оновити соціальний профіль користувача",
                "operationId": "artUaInfoUpdateProfileSocial",
                "responses": {
                    "200": {
                        "description": "Профіль оновлено"
                    },
                    "401": {
                        "description": "Неавторизовано"
                    },
                    "422": {
                        "description": "Помилка валідації"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/projects": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Список публічних art-ua-info проектів з опціями фільтрації",
                "description": "Повертає список публічних art-ua-info проектів з можливістю фільтрації та пагінації.",
                "operationId": "artUaInfoGetProjects",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "art_category",
                        "in": "query",
                        "description": "Фільтр по категорії (можна вказати кілька через кому)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "art_subcategory",
                        "in": "query",
                        "description": "Фільтр по підкатегорії (можна вказати кілька через кому)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Фільтр по статусу (можна вказати кілька через кому)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Фільтр по тегах (можна вказати кілька через кому)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "parameter_value_id",
                        "in": "query",
                        "description": "Фільтр по значеннях характеристик",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Фільтр по автору",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Пошук по назві та опису",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "newest",
                                "popular",
                                "ending_soon"
                            ]
                        }
                    },
                    {
                        "name": "sort_dir",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список проектів з опціями фільтрації",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ProjectList"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        },
                                        "filters": {
                                            "type": "object"
                                        },
                                        "filters_applied": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ArtUaInfo Projects"
                ],
                "summary": "Створити проєкт з art-ua-info",
                "description": "Створити проєкт з візарда art-ua-info",
                "operationId": "artUaInfoCreateProject",
                "responses": {
                    "200": {
                        "description": "Проєкт створено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Project"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизований"
                    },
                    "422": {
                        "description": "Помилка валідації",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/projects/{project}": {
            "put": {
                "tags": [
                    "ArtUaInfo Projects"
                ],
                "summary": "Редагувати проєкт з art-ua-info",
                "description": "Редагувати вже створений проєкт з візарда art-ua-info. Вміст оновлюється\nзавжди; статус змінюється лише якщо передано status=draft (зняти з\nпублікації) або status=moderation (опублікувати чернетку) — будь-які\nінші значення status валідація відхилить.",
                "operationId": "artUaInfoUpdateProject",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Проєкт оновлено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Project"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизований"
                    },
                    "403": {
                        "description": "Не власник проєкту"
                    },
                    "422": {
                        "description": "Помилка валідації",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/projects/{slug}": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Деталі проекту",
                "description": "Повертає повну інформацію про art-ua-info проект за його slug.",
                "operationId": "artUaInfoGetProject",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Деталі проекту",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Project"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Проект не знайдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/art-ua-info/projects/{slug}/donors": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Список меценатів проекту",
                "description": "Повертає список користувачів, які зробили донати на проект.",
                "operationId": "artUaInfoGetProjectDonors",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список меценатів"
                    },
                    "404": {
                        "description": "Проект не знайдено"
                    }
                }
            }
        },
        "/v1/art-ua-info/my/catalogs": {
            "get": {
                "tags": [
                    "My Art Catalogs"
                ],
                "summary": "Список моїх каталогів",
                "description": "Список власних каталогів",
                "operationId": "artUaInfoGetMyCatalogs",
                "responses": {
                    "200": {
                        "description": "Список каталогів",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ArtCatalog"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизовано"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "My Art Catalogs"
                ],
                "summary": "Створити каталог",
                "description": "Створити каталог",
                "operationId": "artUaInfoCreateMyCatalog",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "title[uk]": {
                                        "type": "string",
                                        "example": "Мій каталог"
                                    },
                                    "title[en]": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "image": {
                                        "description": "Обкладинка (файл) або Base64 data URL",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "pdf_file": {
                                        "description": "PDF-файл каталогу (до 20MB)",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "art_category_id": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "published_at": {
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    },
                                    "is_primary": {
                                        "type": "boolean",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Каталог створено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ArtCatalog"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизовано"
                    },
                    "422": {
                        "description": "Помилка валідації",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/my/catalogs/{catalog}": {
            "put": {
                "tags": [
                    "My Art Catalogs"
                ],
                "summary": "Оновити каталог",
                "description": "Оновити каталог",
                "operationId": "artUaInfoUpdateMyCatalog",
                "parameters": [
                    {
                        "name": "catalog",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Каталог оновлено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ArtCatalog"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизовано"
                    },
                    "403": {
                        "description": "Не власник каталогу"
                    },
                    "422": {
                        "description": "Помилка валідації",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "My Art Catalogs"
                ],
                "summary": "Видалити каталог",
                "description": "Видалити каталог",
                "operationId": "artUaInfoDeleteMyCatalog",
                "parameters": [
                    {
                        "name": "catalog",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Каталог видалено"
                    },
                    "401": {
                        "description": "Не авторизовано"
                    },
                    "403": {
                        "description": "Не власник каталогу"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/my/catalogs/{catalog}/primary": {
            "post": {
                "tags": [
                    "My Art Catalogs"
                ],
                "summary": "Зробити каталог основним",
                "description": "Призначити каталог основним (для показу на головній/сторінці митця)",
                "operationId": "artUaInfoSetPrimaryMyCatalog",
                "parameters": [
                    {
                        "name": "catalog",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Каталог призначено основним",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ArtCatalog"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизовано"
                    },
                    "403": {
                        "description": "Не власник каталогу"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/my/services": {
            "get": {
                "tags": [
                    "My Services"
                ],
                "summary": "Список моїх послуг",
                "description": "Список власних послуг",
                "operationId": "artUaInfoGetMyServices",
                "responses": {
                    "200": {
                        "description": "Список послуг",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Service"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизовано"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "My Services"
                ],
                "summary": "Створити послугу",
                "description": "Створити послугу",
                "operationId": "artUaInfoCreateMyService",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "$ref": "#/components/schemas/LocalizedString"
                                    },
                                    "description": {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/LocalizedString"
                                            }
                                        ],
                                        "nullable": true
                                    },
                                    "image": {
                                        "description": "Файл або Base64 data URL",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "art_category_id": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "price": {
                                        "type": "number",
                                        "nullable": true
                                    },
                                    "currency": {
                                        "type": "string",
                                        "enum": [
                                            "UAH",
                                            "USD",
                                            "EUR"
                                        ],
                                        "nullable": true
                                    },
                                    "options": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "name": {
                                                    "$ref": "#/components/schemas/LocalizedString"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 50
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Послугу створено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Service"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизовано"
                    },
                    "422": {
                        "description": "Помилка валідації",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/my/services/{service}": {
            "put": {
                "tags": [
                    "My Services"
                ],
                "summary": "Оновити послугу",
                "description": "Оновити послугу",
                "operationId": "artUaInfoUpdateMyService",
                "parameters": [
                    {
                        "name": "service",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Послугу оновлено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Service"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизовано"
                    },
                    "403": {
                        "description": "Не власник послуги"
                    },
                    "422": {
                        "description": "Помилка валідації",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "My Services"
                ],
                "summary": "Видалити послугу",
                "description": "Видалити послугу",
                "operationId": "artUaInfoDeleteMyService",
                "parameters": [
                    {
                        "name": "service",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Послугу видалено"
                    },
                    "401": {
                        "description": "Не авторизовано"
                    },
                    "403": {
                        "description": "Не власник послуги"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/my/teams": {
            "get": {
                "tags": [
                    "My Teams"
                ],
                "summary": "Список моїх команд",
                "description": "Список команд, де користувач є учасником",
                "operationId": "artUaInfoGetMyTeams",
                "responses": {
                    "200": {
                        "description": "Список команд",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Team"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизовано"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "My Teams"
                ],
                "summary": "Створити команду",
                "description": "Створити команду (поточний користувач стає власником)",
                "operationId": "artUaInfoCreateMyTeam",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "$ref": "#/components/schemas/LocalizedString"
                                    },
                                    "avatar": {
                                        "description": "Файл або Base64 data URL",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "website": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "country": {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/LocalizedString"
                                            }
                                        ],
                                        "nullable": true
                                    },
                                    "city": {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/LocalizedString"
                                            }
                                        ],
                                        "nullable": true
                                    },
                                    "description": {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/LocalizedString"
                                            }
                                        ],
                                        "nullable": true
                                    },
                                    "members": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "user_id": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Команду створено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Team"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизовано"
                    },
                    "422": {
                        "description": "Помилка валідації",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/my/teams/{team}": {
            "put": {
                "tags": [
                    "My Teams"
                ],
                "summary": "Оновити команду",
                "description": "Оновити команду (лише власник)",
                "operationId": "artUaInfoUpdateMyTeam",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Команду оновлено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Team"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Не авторизовано"
                    },
                    "403": {
                        "description": "Не власник команди"
                    },
                    "422": {
                        "description": "Помилка валідації",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "My Teams"
                ],
                "summary": "Видалити команду",
                "description": "Видалити команду (лише власник)",
                "operationId": "artUaInfoDeleteMyTeam",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Команду видалено"
                    },
                    "401": {
                        "description": "Не авторизовано"
                    },
                    "403": {
                        "description": "Не власник команди"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/my/teams/{team}/leave": {
            "post": {
                "tags": [
                    "My Teams"
                ],
                "summary": "Покинути команду",
                "description": "Вийти з команди (для учасника, що не є власником)",
                "operationId": "artUaInfoLeaveMyTeam",
                "parameters": [
                    {
                        "name": "team",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ви покинули команду"
                    },
                    "401": {
                        "description": "Не авторизовано"
                    },
                    "404": {
                        "description": "Ви не є учасником цієї команди"
                    },
                    "422": {
                        "description": "Власник не може покинути команду"
                    }
                },
                "security": [
                    {
                        "sanctum": [],
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/news": {
            "get": {
                "tags": [
                    "News"
                ],
                "summary": "Список новин та подій",
                "description": "Повертає пагінований список активних новин та подій, відсортований за датою публікації (спочатку найновіші). Підтримує фільтрацію за категорією.",
                "operationId": "getNews",
                "parameters": [
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Фільтр за категорією",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "news",
                                "event"
                            ]
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Код мови (uk або en). Якщо не вказано - повертає всі мовні версії.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Кількість новин на сторінці (максимум 50)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список новин та подій",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/NewsList"
                                            }
                                        },
                                        "language": {
                                            "type": "string",
                                            "example": "uk",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/art-ua-info/news/{slug}": {
            "get": {
                "tags": [
                    "News"
                ],
                "summary": "Новина/подія за slug",
                "description": "Повертає повну інформацію про новину або подію, включно з текстовими блоками.",
                "operationId": "getNewsItem",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug новини",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Код мови (uk або en). Якщо не вказано - повертає всі мовні версії.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Новина/подія",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/News"
                                        },
                                        "language": {
                                            "type": "string",
                                            "example": "uk",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Новину не знайдено"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ]
            }
        },
        "/v1/organizations": {
            "get": {
                "tags": [
                    "Organizations"
                ],
                "summary": "Список організацій",
                "description": "Повертає список організацій (користувачів з profile_type=organization, які мають опубліковані проєкти)",
                "operationId": "getOrganizations",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Пошук по назві організації",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Кількість на сторінку (макс. 50)",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Номер сторінки",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова відповіді (uk, en)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список організацій",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Artist"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/PaginationLinks"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/organizations/{slug}": {
            "get": {
                "tags": [
                    "Organizations"
                ],
                "summary": "Профіль організації",
                "description": "Повертає публічний профіль організації з її даними та соціальними мережами",
                "operationId": "getOrganization",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Унікальний slug організації",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова відповіді (uk, en)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Профіль організації",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Artist"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Організацію не знайдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/organizations/{slug}/projects": {
            "get": {
                "tags": [
                    "Organizations"
                ],
                "summary": "Проєкти організації",
                "description": "Повертає список публічних проєктів конкретної організації",
                "operationId": "getOrganizationProjects",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug організації",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Фільтр по статусу проєкту",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "announced",
                                "in_progress",
                                "completed",
                                "sold"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Кількість на сторінку (макс. 50)",
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова відповіді (uk, en)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список проєктів організації",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ProjectList"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/PaginationLinks"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Організацію не знайдено"
                    }
                }
            }
        },
        "/v1/organizations/{slug}/photos": {
            "get": {
                "tags": [
                    "Organizations"
                ],
                "summary": "Портфоліо організації",
                "description": "Повертає список фото з портфоліо організації",
                "operationId": "getOrganizationPhotos",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug організації",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список фото",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserPhoto"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Організацію не знайдено"
                    }
                }
            }
        },
        "/v1/services": {
            "get": {
                "tags": [
                    "Services"
                ],
                "summary": "Список послуг",
                "description": "Повертає список послуг з можливістю фільтрації за категорією мистецтва та типом виконавця",
                "operationId": "getServices",
                "parameters": [
                    {
                        "name": "art_category",
                        "in": "query",
                        "description": "Slug кореневої категорії мистецтва",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "art_subcategory",
                        "in": "query",
                        "description": "Slug підкатегорії мистецтва",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "performer_type",
                        "in": "query",
                        "description": "Тип виконавця",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "artist",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Кількість на сторінку (макс. 50)",
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Мова відповіді (uk, en)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
[...]
